body {
    margin-left: auto;
    margin-right: auto;
    font-family: "roboto", sans-serif;
    margin-bottom: 0;
  }

/* HEADER */

header {
    display: flex;
    justify-content: center;
  }

.logo {
  padding: 1em 1em 1em 1em;
  font-family: Georgia, 'Times New Roman', Times, serif
  
}

.imgTruck {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 30em;
  object-fit: cover;
}


/*Loader*/

.animation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #045D5A;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #06A29D;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  
  .loader::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #08EDE6;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.loaderAnimation {
    position: fixed;
    z-index: 99;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    -webkit-animation: anim 3s forwards;
            animation: anim 3s forwards;
  }
  
  @-webkit-keyframes anim {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes anim {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @media (max-width: 768px) {

  }